<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload file</title>
</head>
<body>
<center>
    <form method="post" action="/processUpload" enctype="multipart/form-data" style="width:25%;justify-content:center;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding:3rem 3rem;margin-top:15%;">
        <input type="file" name="file" style="cursor:pointer;">
        <button type="submit" style="background-color:navy;color:white;padding:0.5rem 1rem;border-radius:10px;cursor:pointer;">Upload</button>
    </form>
</center>
</body>
</html>